{%load static%}
<li>
    <article class="post">
        <a href="" >
        <img src="{% static "blog/images/circuit.jpg" %}" alt="We can move mountains">
            <div class = "post-content">
            <h3>we converse with microprocessors</h3>
            <p>
                Programming is becoming our daily bread
                
                Programming Languages: Python, C#, JavaScript
                Web Development: Django, React.js, WordPress
                Microsoft Office Suite: Excel, Word, PowerPoint
            </p>
            </div>
        </a>
    </article>
</li>