{% extends "base.html" %}

{% block title %}
MG services
{% endblock title %}

{% block content %}
<header>
    <h1> <a href="">'Mayanja's Electricals</a> </h1>
    <nav>
        <a href="">All Services</a>
    </nav>
</header>
<section id ="welcome">
    <header>
        <img src="" alt="Mayanja the author">
        <h2>Mayanja Gyaviirra</h2>
    </header>
    <p>Hi I am Mayanja and I love Electronics and programming</p>
</section>
<section id ="latest-posts">
    <h2>My latest Ideas</h2>
    <ul>
        <li>
            <article class="post">
                <a href="" >
                    <img src="" alt="mountain hiking">
                    <div class = "post-content">
                        <h3>Mountain hiking</h3>
                        <p>nothing meaningful to write about</p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>
<section id = "about">
    <h2> What we do</h2>
    <p>We do electrical installation and maintenance, programming and coding</p>
    <p>Our goal is to keep on growing as developer </p>
</section>
{% endblock content %}