{% extends "base.html" %}

{% load static %}

{% block title %}
MG services
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock css_files %}


{% block content %}

<section id ="welcome">
    <header>
        <img src="{% static "blog/images/gyav.jpg" %}" alt="Mayanja The Developer">
        <h2>Mayanja Gyaviirra</h2>
    </header>
    <p>Hi I am Mayanja and I love Electronics and programming</p>
</section>
<section id ="latest-posts">
    <h2>The latest Ideas</h2>
    <ul>
        <li>
            <article class="post">
                <a href="" >
                    <img src="{% static "blog/images/circuit.jpg" %}" alt="We can move mountains">
                    <div class = "post-content">
                        <h3>we converse with microprocessors</h3>
                        <p>Programming is becoming our daily bread</p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>
<section id = "about">
    <h2> What we do</h2>
    <p>We do electrical installation and maintenance, programming and coding</p>
    <p>Our goal is to keep on growing as developer </p>
</section>
{% endblock content %}